:host {
    width: 95%;
    position: relative;
    color: #fffc;
    font-size: 16px;
    // transition: .2s ease .005s;
    transition: .2s ease;
}


.task {
    padding: .6em 4%;
    background-color: #080a0bbd;
    box-shadow: rgb(0 0 0 / 15%) 1.95px 1.95px 2.6px;
    border-radius: .7em;

    cursor: pointer;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    transition: background-color .1s ease;

    &:hover {background-color: #0f181dbd;}

    &:active {background-color: #000000ea;}
}


@media screen and (min-width: 767px) {
    :host {
        width: 60%;
        max-width: 600px;
        font-size: 18px;
    }

}