
<app-login-form
    class="page"
    *ngIf="pages.loginForm.active"
    [ngClass]="pages.loginForm.class"
    (loginEvent)="login()"
    (toRegisterForm)="pageFromTo('loginForm', 'registerForm', 'next')"
></app-login-form>
    

<app-register-form
    class="page"
    *ngIf="pages.registerForm.active"
    [ngClass]="pages.registerForm.class"
    (closeEvent)="pageFromTo('registerForm', 'loginForm', 'back')"
    (iconEvent)="pageFromTo('registerForm', 'loginForm', 'back')"
></app-register-form>
    
    
<app-tasks-board
    class="page"
    *ngIf="pages.tasksBoard.active"
    [ngClass]="pages.tasksBoard.class"
    (logoutEvent)="logout()"
></app-tasks-board>
    
    
<app-adding-form
    class="page"
    *ngIf="pages.addForm.active"
    [ngClass]="pages.addForm.class"
    (addEvent)="addTask()"
    (iconEvent)="pageFromTo('addForm', 'tasksBoard', 'back')"
></app-adding-form>

    
<app-icon-btn 
    *ngIf="(pages.addForm.active || pages.tasksBoard.active)"
    class="add-task-btn"
    [icon]="buttonIcon" 
    (click)="onButton()"
></app-icon-btn>