
<app-header></app-header>



<div 
  class="tasks"
  (mousedown)="onMousedown($event.pageX, $event.pageY, $event.target)"
  (mouseup)="onMouseup()"
  (mousemove)="onMousemove($event.pageX, $event.pageY)"
>

  <ng-container *ngFor="let task of tasks; let i = index">
    
    <app-task
      #taskRef
      [task]="task" 
      [i]="i"
      [ngStyle]="action.i === i ? activeStyles() : {}"
      [ngStyle]="action.iToSkip.includes(i) ? skipStyles(i) : {}"
      [ngStyle]="stopTransition ? {'transition': 'unset'} : {}"
      (deleteEvent)="deleteTask($event)"
    ></app-task>

  </ng-container>

</div>